In [30]:
import pandas as pd
from pathlib import Path
import numpy as np

In [10]:
PROJECT_ROOT = Path.cwd().parents[0]

In [11]:
RAW_DIR = PROJECT_ROOT / "data" / "raw" / "raw_dataset"

In [12]:
path = RAW_DIR / "application_train.csv"

In [13]:
df = pd.read_csv(path)

In [14]:
df.shape

(307511, 122)

In [15]:
df.head(5)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
df['SK_ID_CURR'].is_unique

True

In [18]:
df.duplicated().sum()

np.int64(0)

In [21]:
num_issues = df['TARGET'].sum()

In [22]:
num_total = df['SK_ID_CURR'].count()

In [25]:
percent_default_rate = num_issues / num_total
percent_default_rate

np.float64(0.08072881945686496)

In [27]:
df.isnull().sum()

SK_ID_CURR                        0
TARGET                            0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     41519
AMT_REQ_CREDIT_BUREAU_WEEK    41519
AMT_REQ_CREDIT_BUREAU_MON     41519
AMT_REQ_CREDIT_BUREAU_QRT     41519
AMT_REQ_CREDIT_BUREAU_YEAR    41519
Length: 122, dtype: int64

In [36]:
numeric_cols = df.select_dtypes(include = [np.number, bool])
num_numeric_cols = len(numeric_cols.columns)
print(f"Number of numeric columns: {num_numeric_cols}")
print(f"Number of categorical columns: {len(df.columns) - num_numeric_cols}")

Number of numeric columns: 106
Number of categorical columns: 16